<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker|Fjalla+One|Tenor+Sans|Bitter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="/css/style.css">

<% if(title === 'RGV') { %>
    <link rel="stylesheet" href="/css/home.css">
<% } else if(title === 'WORK')  { %>
    <link rel="stylesheet" href="/css/work.css">
<% } else if(title === 'CONTRIBUTIONS') { %>
    <link rel="stylesheet" href="/css/contribute.css">
<% } else if(title === 'CONTACT') { %>
    <link rel="stylesheet" href="/css/contact.css">
<% } %>   


