<div class="nav">
    <button class="home"><i class="ic material-icons">home</i>HOME</button>
    <button class="works"><i class="ic material-icons">assignment</i>WORKS</button>
    <button class="contri"><i class="ic material-icons">group_work</i>CONTRIBUTIONS</button>
    <button class="contact"><i class="ic material-icons">local_phone</i>CONTACT</button>
</div>