<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('partials/head.ejs') %>
</head>
<body id="bodyId">
    <div class="container">
        <div class="head">CONTACT</div>
        <div class="sub-container">
            <div class="detail-con">
                <div class="details">
                    <div class="small-text">ADDRESS</div>
                    <div class="big-text">Al Nadha, Sharjah, UAE</div>
                </div>
                <div class="details">
                    <div class="small-text">TELEPHONE</div>
                    <div class="big-text">971566918803</div>
                </div>
                <div class="details">
                    <div class="small-text">EMAIL</div>
                    <div class="big-text">vishnuraghav16@gmail.com</div>
                </div>
            </div>
            <div id="sketch-holder">

            </div>
        </div>
        <%- include('partials/nav.ejs')  %> 
    </div>
    <%- include('partials/scripts.ejs') %> 
</body>
</html>