<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('partials/head.ejs') %>
</head>
<body id="bodyId">
    <div class="container">
        <div class="head-error">Your are in the wrong street dude !!</div>
        <div class="head">404 - The page you are looking for is either moved or deleted.</div>
        <img src="https://media.giphy.com/media/C8XnjJPGroXIv42pnz/giphy.gif" class="anim">
        <button class="back"><i class="material-icons">arrow_back_ios</i>  Go Back to home</button>
    </div>
    <%- include('partials/scripts.ejs') %> 
</body>
</html>