<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('partials/head.ejs') %>
</head>
<body>
    <div class="container" id="particles-js">
        <div class="sub-container">
            <img class="logo" src="images/logo.jpg" alt="ME" width="250" height="250">
            <div class="name">Hi, Im Vishnu Raghavan</div>
            <div class="subhead">I love to code and create stuff. I have been working on backend systems and application development.
                During my free time, I learn new stuff from the internet.
                I'm self-taught, brainstorms about the business and increases productivity for digital ideas by integrating new features and logic.
                I'm loyal to the organization I'm working for.
                I'm a spiritualist, I meditate and code well.
            </div>
        </div>
        <%- include('partials/nav.ejs')  %> 
    </div>
    <%- include('partials/scripts.ejs') %> 
</body>
</html>