.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-flow: column wrap;
    background-color: #fff350;
}

.head {
    padding-top: 3%;
    padding-left: 4%;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    flex-grow: 1;
    background-color: #fff350;
}

.sub-container {
    width: 100%;
    padding: 2%;
    flex-grow: 7;
}

.detail-con {
    width: 100%;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%
}
.small-text{
    font-size: 14px;
    font-family: 'Tenor Sans', sans-serif;
}
.big-text {
    margin-top: 2%;
    font-size: 30px;
    font-family: 'Bitter', serif;
}

.details {
    display: flex;
    flex-flow: column wrap;
}

#sketch-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive styles */
/* Max - 320px */
@media only screen and (max-width: 320px) {
    .head {font-size: 25px;}
    .sub-container {
        flex-grow: 9;
    }
    .detail-con {
        margin: 10% auto 0;
        width: 85%;
        flex-flow: column wrap;
    }
    .details{
        width: 100%;
        justify-content: center;
        margin-bottom: 7%;
    }
    .small-text{
        font-size: 12px;
    }
    .big-text{
        font-size: 18px;
    }
}

/* 321px to 375px */
@media only screen and (min-width: 321px) and (max-width: 375px) {
    .head {font-size: 28px;}
    .sub-container {
        flex-grow: 9;
    }
    .detail-con {
        margin: 2% auto 0;
        width: 85%;
        flex-flow: column wrap;
    }
    .details{
        width: 100%;
        justify-content: center;
        margin-bottom: 7%;
    }
    .small-text{
        font-size: 12px;
    }
    .big-text{
        font-size: 18px;
    }
}

/* 376px to 425px */
@media only screen and (min-width: 376px) and (max-width: 425px) {
    .head {font-size: 28px;}
    .sub-container {
        flex-grow: 9;
    }
    .detail-con {
        margin: 10% auto 0;
        width: 85%;
        flex-flow: column wrap;
    }
    .details{
        width: 100%;
        justify-content: center;
        margin-bottom: 7%;
    }
    .small-text{
        font-size: 14px;
    }
    .big-text{
        font-size: 20px;
    }
}

/* 426px to 768px */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .head {font-size: 28px;}
    .sub-container {
        flex-grow: 7;
    }
    .detail-con {
        margin: 1% auto 0;
        width: 85%;
        flex-flow: column wrap;
    }
    .details{
        width: 100%;
        justify-content: center;
        margin-bottom: 2%;
    }
    .small-text{
        font-size: 14px;
    }
    .big-text{
        font-size: 20px;
    }

}

/* 769px to 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .detail-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .small-text{
        font-size: 14px;
    }
    .big-text {
        font-size: 2.8vw;
    }

}
