*{box-sizing: border-box;}

html,body{
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: url("../images/button.png"), auto;
}

/* navigation */
.nav {
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
}

.ic {margin: 0 10px 4px 0;}

.home, .works, .contri, .contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav button{
    background-color: #000;
    transition: background-color .3s;
    color: #ffffff;
    padding: 0.5% 3% 0.5% 3%;
    text-decoration: none;
    border: 1px transparent;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    z-index: 9;
}

.nav button:hover {background-color: #808080; cursor: url("../images/button.png"), auto;}

/* responsive styles */
/* Max - 320px */
@media only screen and (max-width: 320px) {
    .nav {
        width: 100%;
        margin: 0 auto;
        padding: 1%;
        flex-grow: 1;
    }
    .nav button {
        padding: 1% 5% 1% 5%;
        height: fit-content;
        font-size: 5px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
    }
    .ic {margin: 0;}
}

/* 321px to 375px */
@media only screen and (min-width: 321px) and (max-width: 375px) {
    .nav {
        width: 100%;
        margin: 0 auto;
        padding: 1%;
        flex-grow: 1;
    }
    .nav button {
        padding: 1% 5% 1% 5%;
        height: fit-content;
        font-size: 8px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
    }
    .ic {margin: 0 0 5% 0;}
}

/* 376px to 425px */
@media only screen and (min-width: 376px) and (max-width: 425px) {
    .nav {
        width: 100%;
        margin: 0 auto;
        padding: 1%;
        flex-grow: 1;
    }
    .nav button {
        padding: 1% 5% 1% 5%;
        height: fit-content;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
    }
    .ic {margin: 0 0 2% 0;}
}

/* 426px to 768px */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .nav {
        width: 100%;
        margin: 0 auto;
        padding: 1%;
        flex-grow: 1;
    }
    .nav button {
        padding: 1% 5% 1% 5%;
        height: fit-content;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
    }
    .ic {
        margin: 0 0 5% 0;
        text-align: center;
    }
}

/* 769px to 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}